﻿@model IEnumerable<SerwisASG.ViewModels.TownGroup>

@{
    ViewBag.Title = "Statystyka profili";
}

<h2>Statystyka profili</h2>

<table>
    <tr>
        <th>
            Miasto
        </th>
        <th>
            Profile
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @item.ProfileCount
            </td>
        </tr>
    }
</table>