﻿@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>WELCOME</h1>
    <p class="lead">On the Airsoft players meeting page!</p>
</div>

<div class="row">
    <p><div id='calendar'></div></p>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                eventClick: function (event) {
                    // alert('a day has been clicked! ' + event.id);
                    var url = '@Url.Action("Details", "Events", new { id = "__id__" })';
                    window.location.href = url.replace('__id__', event.id);
                }, 
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        type: "POST",    
                        url: "http://localhost:1330/WebServices/EventsWebService.asmx/getEvents",
                        contentType: "application/json; charset=utf-8",  
                        dataType: "json",
                        success: function (doc) {
                            //alert("Success");
                            var events = [];
                            //alert(doc.d);
                            var obj = $.parseJSON(doc.d);  
                            console.log(obj);
                            $(obj).each(function () {                           
                                events.push({
                                    title: $(this).attr('title'),  
                                    start: $(this).attr('start'),     
                                    end: $(this).attr('end'),
                                    id: $(this).attr('id')
                                });
                                //console.log(events);
                            });
                            //console.log(events);
                            callback(events);
                        },
                        error: function(xhr, status, error) {
                            alert(xhr.responseText);
                        }
                    });
                }
            })

        });
    </script>
}