﻿@model SerwisASG.Models.FullEventModel


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Event.DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Event.DateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Event.DateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Event.ProfileID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Event.ProfileID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Event.ProfileID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Event.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Event.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Event.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventPlace.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventPlace.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventPlace.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="googleMap" style="width:800px;height:600px;"></div>

        <div class="form-group">
            @Html.HiddenFor(model => model.EventPlace.MapZoom)
            
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.PlacePoint.Lat)
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.PlacePoint.Lng)
        </div>

        <div class="form-group">
            <input type="hidden" name="zoneCoords" id="hiddenCoords" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="sabmit" />
            </div>
        </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script type="text/javascript">

    var map;
    var zonePath

    function myMap()
    {
        var mapProp = {
            center: new google.maps.LatLng(51.919438, 19.145136),
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

        zonePath = [];
        var zone = new google.maps.Polygon();

        google.maps.event.addListener(map, 'click', function(event){
            zonePath.push(event.latLng);
            zone.setMap(null);
            zone = new google.maps.Polygon({
                path: zonePath,
                strokeColor: "#0000FF",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#0000FF",
                fillOpacity: 0.4,
                editable: false,
                map: map
            });
        });


    }

    $(document).ready(function () {
        $("#sabmit").on("click", function () {
            $('#EventPlace_MapZoom').val(map.getZoom());
            $('#PlacePoint_Lat').val(map.getCenter().lat());
            $('#PlacePoint_Lng').val(map.getCenter().lng());

            var coords = [];
            zonePath.forEach(function (item) {
                coords.push(item.lat() + ";" + item.lng());
            });
            var dataToSend = JSON.stringify(coords);
            $('#hiddenCoords').val(coords);
        });
        
    });
</script>
<script src="http://maps.googleapis.com/maps/api/js?callback=myMap&key=AIzaSyCSQPeKTCcUO9nY4kjx5xmuaqqxXxckD2o"></script>
}
