﻿@model SerwisASG.Models.Event

@{
    ViewBag.Title = "Details";
}




<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventPlace.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventPlace.PlacePoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventPlace.PlacePoint.Lat)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.EventPlace.PlacePoint.Lng)
        </dd>

        <div id="googleMap" style="width:500px;height:380px;"></div>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Players)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                </tr>
                @foreach (var item in Model.Players)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Login)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        <div>@Html.ActionLink("Join meeting", "JoinEvent", new { id = Model.ID })</div>
    }
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
    function myMap()
    {
        var mapProp = {
            center: new google.maps.LatLng(@(Model.EventPlace.PlacePoint.Lat), @(Model.EventPlace.PlacePoint.Lng)),
            zoom: @(Model.EventPlace.MapZoom),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

        var zonePath = [];

        console.log("zonePath start", zonePath);

        @foreach (var point in Model.EventPlace.PlaceZone)
        {
            @:zonePath.push(new google.maps.LatLng(@point.Lat, @point.Lng));
            @:console.log("petla");
        }

        console.log("zonePath po petli", zonePath);

        var zone = new google.maps.Polygon({
            path: zonePath,
            strokeColor: "#0000FF",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#0000FF",
            fillOpacity: 0.4,
        });
        zone.setMap(map);
    }
    //google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script src="http://maps.googleapis.com/maps/api/js?callback=myMap&key=AIzaSyCSQPeKTCcUO9nY4kjx5xmuaqqxXxckD2o"></script>
